---
import BaseLayout from '../layouts/BaseLayout.astro';
import fetchApi from '../lib/strapi';
import type Article from '../Interfaces/article';
const pageTitle = 'Test Strapi';

const apiUrl = import.meta.env.STRAPI_URL;

const articles = await fetchApi<Article[]>({
  endpoint: 'articles?populate=*',
  wrappedByKey: 'data',
});
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2>
      {pageTitle}
    </h2>
    <ul>
      {
        articles.map((article) => (
          <a href={`/news/${article.attributes.slug}/`}>
            <h1 />
            <img
              src={`${apiUrl}${article.attributes.image.data.attributes.formats.thumbnail.url}`}
              alt='Thumbnail article1'
            />
            <p>{article.attributes.title}</p>
          </a>
        ))
      }
    </ul>
  </section>
</BaseLayout>
