---
// library imports
import { Image } from '@astrojs/image/components';

const { frontmatter, url, tagType, showImage = 'block' } = Astro.props;

const Tag = tagType;

const { title, date, author, image, description } = frontmatter;
---

<article>
  <a href={url} aria-hidden='true' tabindex='-1' class={showImage}>
    <!-- <Image
      src={image.src}
      alt={image.alt}
      width='250'
      height='325'
      format='webp'
      fit='cover'
      quality={80}
      aspectRatio='4:1'
    /> -->

    <!-- Temporary code to display only one news card. Use Image component above to display more than one news -->
    <img src='/img/news/news-1-card.jpg' alt='news 1 card' />
  </a>
  <Tag class='uppercase text-2xl'>
    <a href={url}>{title}</a>
  </Tag>

  <!-- <a href={url}>
    <p>{description}</p>
  </a> -->

  <p>Lue lisää...</p>
</article>
