---
import BaseLayout from '../layouts/BaseLayout.astro';
import NewsHeader from '../components/NewsHeader.astro';
const { frontmatter } = Astro.props;
const { title, description, date, image } = frontmatter;
---

<BaseLayout {title} {description}>
  <NewsHeader {title} {description} {date} {image} />
  <div>
    <div class='text-xl'>
      <slot />
    </div>
    <div class='sidebar'></div>
  </div>
</BaseLayout>
